* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.upper-part {
  margin: 2rem;
  font-size: 1.6rem;
}
.upper-part input {
  margin: 1rem;
  width: 30%;
  font-size: 5rem;
}
.form-input {
  width: 500px;
  height: 40px;
}

.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
}
.row-1 {
  width: 5%;
}
.row-2 {
  width: 25%;
}
.row-3,
.row-4,
.row-5,
.row-6,
.row-7 {
  width: 10%;
}

td{
	text-align: center;
}

.btn {
  margin: 2rem 45%;
  padding: 1.2rem 3rem;
  background-color: bisque;
  border: 3px solid coral;
}